/*以下是小米秒杀，企业团购，F码通道样式*/
        .zhuti1_ul1{
            margin-top: 590px;
            background-color: rgb(94,87,81);
            width: 210px;
            height: 66px;
            margin-left:50px;
            padding-left: 20px;

        }
        .zhuti1_ul1_tr1>td img{
            background-color: rgb(94,87,81);
            opacity: .7;
            height: 24px;
            width: 24px;
            display: block;
            padding-top: -20px;
            border-left: 1px ;
        }
        .zhuti1_ul1_tr1>td a{
            margin-left: -20px;
            padding-right: 18px;
            font-size: 14px;
            color: rgb(206,204,202);
        }
        .Fma{
            padding-left: 9px;

        }
        .qiye_tuangou_a{
            padding-left: 6px;
        }
        .zhuti1_ul1_tr1>td:hover a{
            color: rgb(255,255,255);
        }
        .zhuti1_ul1_tr1 td{
            height: 10px;
        }
        .zhuti1_ul1_tr1{
            width: 20px;
        }
        /*以上是小米秒杀，企业团购，F码通道样式*/
        /*以下是米粉卡，以旧换新，话费充值样式*/
        .zhuti2{
            background-color: rgb(94,87,81);
            width: 230px;
            height: 92px;
            margin-left: 50px;
            margin-top: -16px;

        }
        .zhuti1_ul2_tr2>td img{
            background-color: rgb(94,87,81);
            opacity: .7;
            height: 24px;
            width: 24px;
            display: block;
            margin-top: -50px;
            padding-left: -20px;

        }
        .zhuti1_ul2_tr2>td a{
            font-size: 14px;
            color: rgb(206,204,202);
        }
        .zhuti1_ul2_tr2>td:hover a{
            color: rgb(255,255,255);
        }
        .yijiu_huanxin{
            margin-left: 1px;

        }
        .mifenka{
            margin-left: -20px;
        }
        .yijiu_huanxin_a{
            margin-left: -20px;
            padding-right: 20px;
            padding-left: 6px;

        }
        .huafei_chongzhi_a{
            margin-left: -20px;
            padding-right: 20px;
            padding-left: 6px;
        }
        .mifenka_a{
            margin-left: -30px;
            padding-right: 20px;
            left: -4px;
            display: block;
        }
        .zhuti1_ul2_tr2 td{
            height: 10px;
        }
        .zhuti1_ul2_tr2{
            width: 20px;
        }
    /*以上是米粉卡，依旧换新，话费充值的样式*/
    /*以下是话费充值和F码通道右边的三张图片的样式*/
    .zhuti2_right_pic_ul>li img{
        width: 348px;
        height: 158px;
        margin-top: -260px;
        margin-right: -10px;

    }
    .zhuti2_right_pic_ul li{
        margin-top: -58px;
    }
    /*以上是话费充值和F码通道右边的三张图片的样式*/
/*以下的代码主要是用来将手机那个栏目下面的手机和查看全部进行样式的设置的*/
.xiaomishouji_title{
    width: 1436px;
    height: 120px;
    background-color: rgb(242,242,242);
    margin-left: -6px;
}
.xiaomishouji_title img{
    width: 1304px;
    height: 120px;
    margin-left: 56px;
    margin-top: -28px;
}
.xiaomishouji_text_li1{
    font-weight: 300;
    font-size: 22px;
    line-height: 58px;
    color: #333;
    margin-top: -12px;
}
.xiaomishouji_text_li2{
    font-size: 16px;
    line-height: 78px;
    color: #424242;
    float: right;
    margin-right:90px ;
    padding-right: -18px;
    font-weight: 300;
    margin-top: -22px;
    padding-top: -10px;

}
.xiaomishouji_arrow_right_next{
    float: right;
    margin-right: -22px;
    margin-top: 30px;
    background-color: black;
    border-radius: 2px;
    /*如果喜欢圆的可以设为24px,我喜欢方的*/
}
.xiaomishouji_text_li2:hover img{
    background-color: rgb(225,103,24);
}
.xiaomishouji_text_li2:hover{
    color: rgb(225,103,24);
    padding-right:-12px;
}
.xiaomishouji_text{
    background-color: rgb(242,242,242);
    width: 1436px;
    height: 100px;
    margin-left: -6px;
    margin-top: -16px;
}
/*以上的代码主要是用来将手机那个栏目下面的手机和查看全部进行样式的设置的*/