/*以下是小米手机栏目左边的xiaomiMixAlpha的样式*/
.xiaomishoujilanmu1_img1{
    height: 614px;
    width: 234px;
    margin-top: 0;
    margin-left: -48px;
}
.xiaomishoujilanmu1_img2{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 0;
}
/*以上是小米手机栏目左边的xiaomiMixAlpha的样式*/
/*以下是小米手机栏目右边的小米10至尊版的样式*/
.xiaomishoujilanmu1_img2_div{
    height: 300px;
    width: 234px;
    background-color: rgb(255,255,255);
    margin-left: 303px;
    margin-top: -618px;
}
.xiaomishoujilanmu1_img2_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img2_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img2_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;

    top: 1210px;
    left: 340px;
}
.xiaomishoujilanmu1_img2_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    text-align: center;
}
/*以上是小米手机栏目右边的小米10至尊版的样式*/
/*以下是小米手机栏目右边的RedmiK30至尊版的样式*/
.xiaomishoujilanmu1_img3{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img3_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img3_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 550px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img3_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img3_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1210px;
    left: 564px;
}
.xiaomishoujilanmu1_img3_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    text-align: center;
}
/*以上是小米手机栏目右边的RedmiK30至尊版的样式*/
/*以下是小米手机栏目右边的腾讯黑鲨3s的样式*/
.xiaomishoujilanmu1_img4{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img4_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img4_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 800px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img4_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img4_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1210px;
    left: 839px;
}
.xiaomishoujilanmu1_img4_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    text-align: center;
}
/*以上是小米手机栏目右边的腾讯黑鲨3s的样式*/
/*以下是小米手机栏目右边的Redmi9A的样式*/
.xiaomishoujilanmu1_img5{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img5_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img5_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 1046px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img5_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img5_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1210px;
    left: 1067px;
}
.xiaomishoujilanmu1_img5_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    text-align: center;
}
/*以上是小米手机栏目右边的Redmi9A的样式*/
/*以下是小米手机栏目右边的小米10青春版5G的样式*/
.xiaomishoujilanmu1_img6{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img6_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img6_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 303px;
    margin-top: 72px;
}
.xiaomishoujilanmu1_img6_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img6_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1548px;
    left: 340px;
}
.xiaomishoujilanmu1_img6_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    text-align: center;
}
/*以上是小米手机栏目右边的小米10青春版5G的样式*/
/*以下是小米手机栏目右边的小米10青春版5G的样式*/
.xiaomishoujilanmu1_img6{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img6_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img6_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 303px;
    margin-top: 14px;
}
.xiaomishoujilanmu1_img6_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img6_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1524px;
    left: 324px;
}
.xiaomishoujilanmu1_img6_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    text-align: center;
}
.xiaomishoujilanmu1_img6_div_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米手机栏目右边的小米10青春版5G的样式*/
/*以下是小米手机栏目右边的小米10的样式*/
.xiaomishoujilanmu1_img7{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img7_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img7_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 550px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img7_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img7_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1522px;
    left: 611px;
}
.xiaomishoujilanmu1_img7_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    text-align: center;
}
.xiaomishoujilanmu1_img7_div_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米手机栏目右边的小米10的样式*/
/*以下是小米手机栏目右边的RedmiK30Pro的样式*/
.xiaomishoujilanmu1_img8{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img8_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img8_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 798px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img8_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img8_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1522px;
    left: 839px;
}
.xiaomishoujilanmu1_img8_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    text-align: center;
}
.xiaomishoujilanmu1_img8_div_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米手机栏目右边的RedmiK30Pro的样式*/
/*以下是小米手机栏目右边的RedmiK30Pro变焦版的样式*/
.xiaomishoujilanmu1_img9{
    height: 160px;
    width: 160px;
    margin-left: 37px;
    margin-top: 0;
}
.xiaomishoujilanmu1_img9_div:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
.xiaomishoujilanmu1_img9_div{
    background-color: rgb(255,255,255);
    height: 300px;
    width: 234px;
    margin-left: 1046px;
    margin-top: -300px;
}
.xiaomishoujilanmu1_img9_div_h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.xiaomishoujilanmu1_img9_div_p1{
    position: absolute;
    font-size: 12px;
    color: #b0b0b0;
    top: 1522px;
    left: 1087px;
}
.xiaomishoujilanmu1_img9_div_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    text-align: center;
}
.xiaomishoujilanmu1_img9_div_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米手机栏目右边的RedmiK30Pro变焦版的样式*/
/*以下这段代码主要是用来改变小米手机那个栏目的背景色的*/
.xiaomishoujilanmu1_div_parent{
    background-color: rgb(242,242,242);
    height: 650px;
    margin-left: -6px;
    margin-right: -6px;
}
/*以上这段代码主要是用来改变小米手机那个栏目的背景色的*/
/*以下是关于智能电视的头条的样式*/
.SmartTv_title{
    width: 1306px;
    height: 120px;
    margin-left: 54px;
    margin-top: 7px;
}
.SmartTv_title_div{
    background-color: rgb(242,242,242);
    height: 150px;
    width: 1436px;
    margin-top: -6px;
    margin-left: -6px;
}
/*以上是关于智能电视的头条的样式*/
.homeAppliances{
    font-size: 22px;
    font-weight: 300;
    color: #333;
    margin-left: 52px;
    line-height: 58px;
    top: 1200px;
}
.popular{
    font-size: 16px;
    font-weight: 300;
    line-height: 8px;
    margin-left: 1270px;
    margin-top: -35px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: 18px;
    width: 32px;
    padding-top: 0;
    color: #0f0f0f;

}
.popular:hover{
    color: #ff6700;

}
.popular:hover .homeAppliances_pic{
    background-color: #ff6700;
}
/*以下这个是设置红米电视70寸的样式*/
.popular_ul_li1{
    height: 300px;
    width: 234px;
    margin-left: 56px;
    margin-top: 0px;

}
.popular_ul_li1:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
/*以上这个是设置红米电视70寸的样式*/
/*以下这个是设置热门旁边的图标的样式*/
.homeAppliances_pic{
    position: absolute;
    background-color: black;
    margin-left: 0;
    top: 1844px;
    height: 20px;
}
/*以上这个是设置热门旁边的图标的样式*/
/*以下是Redmi红米电视70寸的样式*/
.popular_div2{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 303px;
    margin-top: -304px;
}
.popular_div2:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li2{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div2_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div2_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 18px;
    top: -18px;
}
.popular_div2_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div2_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是Redmi红米电视70寸的样式*/
/*以下是家电头条*/
.homeAppliances_div{
    background-color: rgb(242,242,242);
    margin-left: -8px;
    margin-right: -8px;


}
/*以上是家电头条*/
/*以下是小米全面屏电视E32C的样式*/
.popular_div3{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 554px;
    margin-top: -300px;
}
.popular_div3:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li3{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div3_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div3_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 46px;
}
.popular_div3_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div3_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米全面屏电视E32C的样式*/
/*以下是小米全面屏电视E55A的样式*/
.popular_div4{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 807px;
    margin-top: -300px;
}
.popular_div4:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li4{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div4_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div4_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 46px;
}
.popular_div4_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div4_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是小米全面屏电视E55A的样式*/
/*以下是米家空调的样式*/
.popular_div5{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 1059px;
    margin-top: -300px;
}
.popular_div5:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li5{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div5_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div5_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 56px;
}
.popular_div5_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div5_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是米家空调的样式*/
/*以下这段代码主要是用来实现小米电视4A60英寸*/
.popular_ul_li6{
    height: 300px;
    width: 234px;
    margin-left: 56px;
    margin-top: 16px;
}
.popular_ul_li6:hover{
    box-shadow: 0 0 10px #b0b0b0;
}
/*以上这段代码主要是用来实现小米电视4A60英寸*/
/*以下是米家空调的样式*/
.popular_div7{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 302px;
    margin-top: -306px;
}
.popular_div7:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li7{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div7_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div7_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 68px;
}
.popular_div7_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div7_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是米家空调的样式*/
/*以下是Redmi全自动波轮洗衣机1A的样式*/
.popular_div8{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 554px;
    margin-top: -300px;
}
.popular_div8:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li8{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div8_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div8_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 68px;
}
.popular_div8_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div8_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是Redmi全自动波轮洗衣机1A的样式*/
/*以下是15.6"四核i716G独显512G的样式*/
.popular_div9{
    height: 300px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 806px;
    margin-top: -300px;
}
.popular_div9:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li9{
    height: 160px;
    width: 160px;
    margin-left: 38px;
    margin-top: 20px;

}
.popular_div9_h1{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
.popular_div9_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -18px;
    left: 68px;
}
.popular_div9_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: -26px;
    text-align: center;
}
.popular_div9_p2 s{
    color: #b0b0b0;
    padding-left: 10px;
}
/*以上是15.6"四核i716G独显512G的样式*/
/*以上是小米笔记本Air 13.3"的样式*/
.popular_div10{
    height: 146px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 1058px;
    margin-top: -300px;
}
.popular_div10:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li10{
    height: 80px;
    width: 80px;
    margin-left: 137px;
    margin-top: 20px;
}
.popular_div10_h1{
    font-size: 14px;
    font-weight: 400;
    height: auto;
    width: 40px;
    color: #333;
    margin-left: 30px;
    margin-top: -78px;

}
.popular_div10_p2{
    font-size: 14px;
    color: rgb(252,80,9);
    padding-top: -2px;
    margin-top: 6px;
    margin-left: -118px;
    text-align: center;
}
/*以上是小米笔记本Air 13.3"的样式*/
/*以上是浏览更多的样式*/
.popular_div11{
    height: 146px;
    width: 238px;
    background-color: rgb(255,255,255);
    margin-left: 1058px;
    margin-top: 8px;
}
.popular_div11:hover{
    box-shadow: 0 0 10px #b0b0b0;;
}
.popular_ul_li11{
    height: 48px;
    width: 48px;
    margin-left: 137px;
    margin-top: 46px;
}
.popular_div11_h1{
    font-size: 18px;
    font-weight: 400;
    height: auto;
    width: 80px;
    color: #333;
    margin-left: 28px;
    margin-top: -48px;
}
.popular_div11_p1{
    position: relative;
    font-size: 12px;
    color: #b0b0b0;
    top: -22px;
    left: 28px;
}
/*以上是浏览更多的样式*/
/*以下是帮助中心的样式*/
.help_center{
    float: left;
    position: absolute;
    top: 2641px;
    left: 110px;

}
.help_center>dt{
    font-size: 14px;
    padding-bottom: 14px;
}
.help_center>dd{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    color: rgb(107,107,107);
}
.help_center>dd:hover{
    color: rgb(252,80,9);
}
/*以上是帮助中心的样式*/
/*以下是服务支持的样式*/
.service_support{
    float: left;
    position: absolute;
    top: 2641px;
    left: 282px;
}
.service_support>dt{
    font-size: 14px;
    padding-bottom: 14px;
}
.service_support>dd{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    color: rgb(107,107,107);
}
.service_support>dd:hover{
    color: rgb(252,80,9);
}
/*以上是服务支持的样式*/
/*以下是线下门店的样式*/
.offline_store{
    float: left;
    position: absolute;
    top: 2641px;
    left: 454px;
}
.offline_store>dt{
    font-size: 14px;
    padding-bottom: 14px;
}
.offline_store>dd{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    color: rgb(107,107,107);
}
.offline_store>dd:hover{
    color: rgb(252,80,9);
}
/*以上是线上门店的样式*/
/*以下是关于小米的样式*/
.about_xiaomi{
    float: left;
    position: absolute;
    top: 2641px;
    left: 626px;
}
.about_xiaomi>dt{
    font-size: 14px;
    padding-bottom: 14px;
}
.about_xiaomi>dd{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    color: rgb(107,107,107);
}
.about_xiaomi>dd:hover{
    color: rgb(252,80,9);
}
/*以上是关于小米的样式*/
/*以下是特色服务的样式*/
.special_service{
    float: left;
    position: absolute;
    top: 2641px;
    left: 798px;
}
.special_service>dt{
    font-size: 14px;
    padding-bottom: 14px;
}
.special_service>dd{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    color: rgb(107,107,107);
}
.special_service>dd:hover{
    color: rgb(252,80,9);
}
/*以上是特色服务的样式*/
/*以下人工服务*/
.human_service_img{
    background-color: #ff6700;
    height: 12px;
    width: 12px;
    margin-top: 4px;
    margin-left: 2px;
}
.human_service{
    position: absolute;
    top: 2680px;
    margin-left: 1026px;
    width: 120px;
    height: 30px;
    font-size: 12px;
    color: #ff6700;
    border: 1px #ff6700 solid;
    text-align: center;
    margin-top: 2px;
    padding-top: 4px;
}
.human_service:hover{
    background-color: #ff6700;
    color: rgb(255,255,255);
}
/*以上人工服务*/
/*以下联系信息*/
.contact_information{
    margin-left: 1026px;
    font-size: 14px;
    margin-top: 40px;
}
/*以上联系信息*/
/*以下这个是声明旁边的那一根竖线*/
.vertical_line{
    height: 112px;
    width: 1px;
    background-color: rgb(242,242,242);
    margin-left: 950px;
    margin-top: 40px;
}
/*以上这个是声明旁边的那一根竖线*/
/*以下是设置电话号码的样式*/
.service_support_phone{
    font-size: 22px;
    color: #ff6700;
    margin-left: 1026px;
    margin-top: -120px;
}
/*以上是设置电话号码的样式*/
/*以下是服务时间*/
.service_hours{
    font-size: 12px;
    margin-left: 1026px;
    margin-top: -20px;
}
/*以上是服务时间*/
/*以下这是这个网页最后的一根下划线*/
.underscore1{
    width: 1130px;
    height: 1px;
    background-color: rgb(208,208,208);
    margin-left: 108px;
}
/*以上这是这个网页最后的一根下划线*/