<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.AdminUserCarouselMapper">
    <resultMap id="BaseResultMap" type="com.imooc.entity.Carousel">
        <id column="carousel_name" jdbcType="VARCHAR" property="carouselName" />
        <result column="carousel_address" jdbcType="VARCHAR" property="carouselAddress"/>
    </resultMap>
    <sql id="BaseResult_list">
    carousel_name,carousel_address
    </sql>
    <update id="updateCarousel">
            update adminusercarousel
            <set>
                carousel_address = #{carouselAddress,jdbcType=VARCHAR}
            </set>
            where
            carousel_name = #{carouselName,jdbcType = VARCHAR}
    </update>

    <select id="findCarousel" resultMap="BaseResultMap" parameterType="com.imooc.entity.Carousel">
            select
            *
            from
            adminusercarousel
    </select>
</mapper>