<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.imooc.entity.AdminUser">
        <id column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="pass_word" jdbcType="VARCHAR" property="passWord"/>
    </resultMap>
    <sql id="BaseResult_list">
        user_name,pass_word
    </sql>
    <select id="login" resultMap="BaseResultMap" >
        select
        <include refid="BaseResult_list"/>
        from adminUser
        where user_name = #{userName,jdbcType=VARCHAR}
        and pass_word = #{passWord,jdbcType=VARCHAR}
    </select>
</mapper>